:root {
  --first-color: #f4eeff;
  --second-color: #dcd6f7;
  --third-color: #a6b1e1;
  --fourth-color: #424874;
}
a {
  color: var(--third-color) !important;
}
body {
  color: var(--first-color) !important;
  background: top -200px left no-repeat url("../Picsart_23-04-10_17-18-19-925.jpg");
  background-size: 1600px;
}

button {
  background-color: var(--fourth-color) !important;
  border: var(--fourth-color) !important;
  color: var(--third-color) !important;
}
button:hover {
  background-color: var(--third-color) !important;
  color: #424874 !important;
  transition: 0.25s ease-in-out !important;
}
.sign-up {
  display: none;
}
.additional-link {
  font-size: 13px;
}
@media (min-width: 992px) {
  body .signin-form,
  .sign-up {
    width: 400px;
    position: fixed;
    right: 100px;
  }
}
@media (min-width: 420px) and (max-width: 991px) {
  body .signin-form,
  .sign-up {
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 419px) {
  body .signin-form,
  .sign-up {
    width: 300px;
    margin: auto;
  }
}
